---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AnimatedImage from "../components/AnimatedImage.jsx";
import ProjectCard from "../components/ProjectCard.astro";
import SkillBar from "../components/SkillBar.astro";
import ProjectModal from "../components/ProjectModal.jsx";
import AnimatedTypingText from "../components/AnimatedTypingText.jsx";
import SocialLinks from "../components/SocialLinks.jsx";

const projects = [
  {
    title: "Entereza Fintech",
    description: "Plataforma de recompensas y fidelizacion.",
    fullDescription:
      "En Entereza Fintech, me encargué de desarrollar los sistemas web y las aplicaciones móviles utilizando ReactJS y React Native con Expo. Además, gestioné los servidores en Google Cloud y administré las bases de datos. Gracias a nuestro esfuerzo, la plataforma logró afiliar a más de 100 empresas, 200 sucursales y registrar 50,000 usuarios.",
    image: "/images/entereza/enterezaBanner.jpg",
    technologies: ["ReactJS", "React Native Expo", "MySQL", "GCP"],
    images: [
      "/images/entereza/entereza1.jpg",
      "/images/entereza/entereza2.jpg",
      "/images/entereza/entereza3.jpg",
      "/images/entereza/entereza4.jpg",
      "/images/entereza/entereza5.jpg",
      "/images/entereza/entereza6.jpg",
      "/images/entereza/entereza7.jpg",
      "/images/entereza/entereza8.jpg",
      "/images/entereza/entereza9.jpg",
    ],
  },
  {
    title: "QRcompensa",
    description: "Sistema de pagos QR con cashback.",
    fullDescription:
      "En QRcompensa, estuve a cargo del desarrollo completo del frontend y backend, creando todo el sistema en solo un mes. Utilicé ReactJS para el frontend, Node.js con Express para el backend, y MongoDB como base de datos, además de configurar y gestionar el servidor en Google Cloud Console. Actualmente, QRcompensa genera más de $2,500 mensuales y cuenta con 10 empresas afiliadas.",
    image: "/images/qrcompensa/qrcompensaBanner.png",
    technologies: ["ReactJS", "NodeJS", "MongoDB", "GCP"],
    images: [
      "/images/qrcompensa/qrcompensa1.jpeg",
      "/images/qrcompensa/qrcompensa2.jpeg",
      "/images/qrcompensa/qrcompensa3.jpeg",
      "/images/qrcompensa/qrcompensa4.jpeg",
      "/images/qrcompensa/qrcompensa5.jpeg",
      "/images/qrcompensa/qrcompensa6.jpeg",
      "/images/qrcompensa/qrcompensa7.jpeg",
      "/images/qrcompensa/qrcompensa8.jpeg",
    ],
  },
  {
    title: "Tacho",
    description: "SaaS para empresas de taxis.",
    fullDescription:
      "En Tacho, desarrollé el backend en Node.js con Express y el frontend en ReactJS, creando dos dashboards: uno administrativo y otro para empresas. Además, lideré el desarrollo de las aplicaciones móviles y la creación de su diseño. Tacho es un SaaS para empresas de taxis que centraliza la gestión de flotas y operaciones, optimizando la eficiencia operativa de las empresas.",
    image: "/images/tacho/tachoBanner.jpg",
    technologies: ["ReactJS", "NodeJS", "Railway", "MongoDB"],
    images: [
      "/images/tacho/tacho1.jpeg",
      "/images/tacho/tacho2.jpeg",
      "/images/tacho/tacho3.jpeg",
      "/images/tacho/tacho4.jpeg",
      "/images/tacho/tacho5.jpeg",
      "/images/tacho/tacho6.jpeg",
      "/images/tacho/tacho7.jpeg",
      "/images/tacho/tacho8.jpeg",
      "/images/tacho/tacho9.jpeg",
    ],
  },
  {
    title: "Logistech",
    description: "SaaS para empresas de courier.",
    fullDescription:
      "Desarrollé el backend en Node.js con Express y el frontend en ReactJS para Logistech, un SaaS diseñado para empresas de mensajería y couriers. Este sistema permite a las empresas gestionar sus envíos de manera eficiente, incluyendo un sistema básico de rastreo de paquetes. Además, implementé una aplicación móvil para mensajeros utilizando React Native con Expo, ofreciendo a los conductores una herramienta funcional para el manejo de sus entregas.",
    image: "/images/logistech/logistechBanner.png",
    technologies: ["ReactJS", "NodeJS", "React Native Expo", "MongoDB"],
    images: [
      // "/images/logistech/logistech1.jpeg",
      // "/images/logistech/logistech2.jpeg",
      // "/images/logistech/logistech3.jpeg",
      // "/images/logistech/logistech4.jpeg",
      // "/images/logistech/logistech5.jpeg",
      // "/images/logistech/logistech6.jpeg",
      // "/images/logistech/logistech7.jpeg",
      // "/images/logistech/logistech8.jpeg",
      // "/images/logistech/logistech9.jpeg",
    ],
  },
  {
    title: "Santiago Delivery",
    description: "Plataforma de delivery para empresas y usuarios.",
    fullDescription:
      "Desarrollé el dashboard web administrativo utilizando ReactJS para Santiago Delivery, una plataforma que permite la creación y gestión de empresas afiliadas, sucursales y pedidos. Desde el panel administrativo, se pueden generar pedidos manuales, ya sea a empresas registradas o para carreras externas. También se maneja la información de las aplicaciones y se ofrece un sistema de chat. Santiago Delivery es una solución integral para gestionar pedidos de forma eficiente.",
    image: "/images/santiago/santiagoBanner.jpg",
    technologies: ["ReactJS", "MySQL", "Figma"],
    images: [
      "/images/santiago/santiago1.jpeg",
      "/images/santiago/santiago2.jpeg",
      "/images/santiago/santiago3.jpeg",
      "/images/santiago/santiago4.jpeg",
      "/images/santiago/santiago5.jpeg",
      "/images/santiago/santiago6.jpeg",
      "/images/santiago/santiago7.jpeg",
      "/images/santiago/santiago8.jpeg",
      "/images/santiago/santiago9.jpeg",
      "/images/santiago/santiago10.jpeg",
      "/images/santiago/santiago11.jpeg",
      "/images/santiago/santiago12.jpeg",
      "/images/santiago/santiago13.jpeg",
      "/images/santiago/santiago14.jpeg",
    ],
  },
  {
  "title": "Lulikk",
  "description": "Página web tipo blog.",
  "fullDescription": "Lulikk es un blog personal creado por y para una pareja que desea compartir sus experiencias, ideas y proyectos con el mundo. Desarrollado con ReactJS y Firebase, Lulikk es un espacio íntimo y personal donde ambos pueden escribir sobre sus pasiones, reflexiones diarias y aventuras. La plataforma está diseñada para ser ligera y fácil de navegar, con un enfoque en la simplicidad y la autenticidad de los contenidos. A través de Lulikk, se pueden compartir recuerdos y conectar con amigos, familiares y otros lectores interesados en seguir sus historias.",
  "image": "/images/lulikk/lulikkBanner.jpeg",
  "technologies": ["ReactJS", "Firebase"],
  "images": [
    "/images/lulikk/lulikk1.jpeg",
    "/images/lulikk/lulikk2.jpeg",
    "/images/lulikk/lulikk3.jpeg",
    "/images/lulikk/lulikk4.jpeg"
  ]
}

];

const skills = [
  { skill: "JavaScript", level: 100, color: "#F7DF1E" },
  { skill: "ReactJS", level: 100, color: "#61DAFB" },
  { skill: "Astro", level: 80, color: "#FF5D01" },
  { skill: "NextJS", level: 80, color: "#ffffff" },
  { skill: "NodeJS", level: 90, color: "#339933" },
  { skill: "ExpressJS", level: 90, color: "#ffffff" },
  { skill: "MongoDB", level: 100, color: "#47A248" },
  { skill: "SQL", level: 100, color: "#4479A1" },
];
---

<Layout title="Tamflikk portafolio">
  <Header />

  <main class="container mx-auto px-4">
    <section id="about" class="py-5 md:py-5 mb-20 mt-10">
      <div class="flex flex-col md:flex-row items-center justify-between">
        <div class="md:w-1/2 mb-8 md:mb-0">
          <AnimatedTypingText client:load />
          <p class="text-xxl md:text-2xl mb-4 text-gray-300">
            Desarrollador Web FullStack JavaScript
          </p>
          <p class="text-xl text-gray-400 leading-relaxed">
            Soy un apasionado desarrollador web con experiencia en crear
            soluciones innovadoras y eficientes. Me especializo en tecnologías
            como ReactJS, NodeJS, ExpressJS y MongoDB. Me encanta aprender
            nuevas tecnologías y enfrentar desafíos creativos en el mundo del
            desarrollo web.
          </p>
        </div>
        <div class="md:w-1/3 flex justify-center">
          <AnimatedImage
            src="/images/tamflikk.jpg"
            alt="Alejandro Tamayo Hornsby - Tamflikk"
            client:load
          />
        </div>
      </div>
    </section>

    <section id="projects" class="py-5">
      <h2 class="text-3xl md:text-4xl font-bold mb-8 text-center text-gray-100">
        Mis Proyectos
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          projects.map((project, index) => (
            <ProjectCard {...project} index={index} />
          ))
        }
      </div>
    </section>

    <section id="skills" class="py-20">
      <h2 class="text-3xl md:text-4xl font-bold mb-8 text-center text-gray-100">
        Mis Habilidades
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {skills.map((skill) => <SkillBar {...skill} />)}
      </div>
    </section>

    <SocialLinks client:load />
  </main>

  <Footer />
  <ProjectModal client:load projects={projects} />
</Layout>
